@font-face { font-family: 'museo_sans500'; src: url('../fonts/museosans_500-webfont.eot'); src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_500-webfont.woff2') format('woff2'), url('../fonts/museosans_500-webfont.woff') format('woff'), url('../fonts/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans900'; src: url('../fonts/museosans_900-webfont.eot'); src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_900-webfont.woff2') format('woff2'), url('../fonts/museosans_900-webfont.woff') format('woff'), url('../fonts/museosans_900-webfont.ttf') format('truetype'), url('../fonts/museosans_900-webfont.svg#museo_sans900') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans100'; src: url('../fonts/museosans-100-webfont.eot'); src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans-100-webfont.woff2') format('woff2'), url('../fonts/museosans-100-webfont.woff') format('woff'), url('../fonts/museosans-100-webfont.ttf') format('truetype'), url('../fonts/museosans-100-webfont.svg#museo_sans100') format('svg'); font-weight: normal; font-style: normal; }
body { font-family: 'museo_sans500', sans-serif; background-color: #f7f7f7; position: relative; margin: 0px; font-size: 13px; padding: 0px; background: #e9ecef; }
html { position: relative; min-height: 100%; }
body.sticky-footer { background: #FFF; }
body.fixed-nav { padding-top: 76px; }
.pad160 { padding-top: 160px; }
.add-top { margin-top: 140px; }
.add-bottom { margin-bottom: 140px; }
.add-top-half { margin-top: 70px; }
.add-bottom-half { margin-bottom: 70px; }
.add-min-top-half { margin-top: 35px; }
.add-min-bottom-half { margin-bottom: 35px; }
.pad-top { padding-top: 140px; }
.pad-bottom { padding-bottom: 140px; }
.pad-top-half { padding-top: 70px; margin-bottom: 20px; z-index: 10; position: relative; }
.pad-bottom-half { padding-bottom: 70px; }
.pad-min-top-half { padding-top: 35px; }
.pad-min-bottom-half { padding-bottom: 35px; }
.pad { padding-top: 150px; padding-bottom: 150px; }
.pad-special { padding-top: 85px; padding-bottom: 60px; }
.page-section { padding-top: 60px; padding-bottom: 45px; z-index: 10; }
.page-top { padding-top: 125px; }
.page-bottom { padding-bottom: 125px; }
header#mainNav { background: #222; }
header a { color: #d8c55e; }
header a:hover {/* color: #d8c55e; */ }
header a.btn-primary { background: #6deaab; color: #000; border: 0; }
header a.btn-primary:hover { opacity: .8; background: #6deaab; color: #000; }
.navbar-nav li { margin: 13px 20px; }
.navbar-nav li:last-child { margin-right: 0; }
.navbar-nav li a { font-size: 16px; padding: 0; cursor: pointer !important; border-bottom: 1px solid transparent; }
.navbar-nav li a:hover { opacity: 0.8; }
.navbar-nav li a.active { opacity: 0.8; }
.log-menu { padding: 37px 0; }
.header { height: 50px; background-color: #2c3742; }
.header .logo h1 { font-size: 30px; margin: 0px; padding: 10px 0px; }
.header .logo h1 a { color: #fff; font-family: 'Open Sans Condensed', sans-serif; }
.header .logo h1 a:hover { color: #fff; text-decoration: none; border: 0px; }
.header .form { margin-top: 10px; width: 100%; max-width: 300px; margin: 10px auto; }
.header .navbar * { box-shadow: none !important; }
.header .navbar .label { font-size: 12px; padding: 4px 8px; margin: 0px 2px; border-radius: 15px !important; }
.header .navbar { background: none !important; border: 0px !important; }
.header .navbar i { margin-right: 3px; }
.header .navbar .nav > li > a { color: #fff !important; font-size: 13px !important; border-bottom: 0px !important; margin-top: 0px !important; font-weight: bold; }
.header .navbar-nav>.open>a, .header  .navbar-nav>.open>a:hover, .header  .navbar-nav>.open>a:focus { background: none !important; }
.header .navbar-collapse { border: 0px !important; }
.header .navbar-header { width: 43px; margin: 0 auto; }
.header .navbar-header button { color: #fff !important; padding: 5px 10px; }
.header .navbar-toggle { background-color: #1dc1da !important; border: 1px solid #0fa6bc !important; }
.header .navbar-toggle:hover, .header .navbar-toggle:focus { background-color: #0fa6bc !important; border: 1px solid #0fa6bc !important; }
.navbar-nav { flex-direction: row; flex: 1 0 auto; flex-flow: row; }
.navbar-nav { margin: 0; justify-content: center; }
.navbar a { margin: 0px 20px 0 0px; color: #000; }
.navbar.navbar-expand-lg { background: #00efa6; }
.content-box, .content-box-large { margin-bottom: 30px; background: #fff; border-radius: 10px; padding: 10px; border-left: 1px solid #eee; border-top: 1px solid #eee; border-right: 2px solid #eee; border-bottom: 2px solid #eee; }
.content-box-large { padding: 20px; }
.box-with-header { border-top: none; border-top-left-radius: 0px; border-top-right-radius: 0px; }
.content-box-header { min-height: 40px; font-size: 16px; background: #f5f5f5; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 10px; border-left: 1px solid #eee; border-top: 1px solid #eee; border-right: 2px solid #eee; }
.content-box-header:after { clear: both; }
.login-bg { background: linear-gradient(rgba(84, 84, 84, 0.3), rgba(255, 255, 255, 0)); background-color: #222; background-repeat: no-repeat; height: 100%; }

/** Login & Signup **/
.login-wrapper * { font-family: 'museo_sans500'; }
.login-wrapper { text-align: center; }
form label, form small { display: block; cursor: pointer; }
.login-wrapper .box { margin: 0 auto; padding: 30px 0 20px; float: none; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px; -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px; -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px; box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px; background: rgba(255, 255, 255, 0.09); -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; color: #FFF; }
.login-wrapper .box .content-wrap { width: 82%; margin: 0 auto; }
.login-wrapper .box h6 { text-transform: uppercase; font-size: 21px; font-weight: 600; }

/* Desktop */
.login-wrapper .box input[type="text"], input[type="tel"], .login-wrapper .box input[type="password"], .login-wrapper .box input[type="email"] {/* font-size: 15px; *//* height: 40px; */margin-bottom: 10px;/* border-color: #b2bfc7; *//* padding-left: 12px; */ }
.login-wrapper .box input[type="text"]:focus, .login-wrapper .box input[type="password"]:focus { border: 1px solid #28a0e5; outline: none; -webkit-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5; -moz-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5; -ms-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5; -o-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5; box-shadow: inset 0 1px 2px #dddddd, 0px 0 5px #28a0e5; }
.login-wrapper .box input[type="password"] { margin-bottom: 10px; }
.login-wrapper .box .action { position: relative; top: 30px; padding: 15px 0px; }
.login-wrapper .box .signup { text-transform: uppercase; font-size: 13px; padding: 7px 25px; border-radius: 5px; }
.login-wrapper .already { margin: 0 auto; float: none; text-align: center; font-size: 13px; margin-top: 30px; }
.login-wrapper .already p { display: inline-block; color: #222; }
.login-wrapper .already a { color: #222; margin-left: 7px; border-bottom: 1px solid; }
.login-wrapper .already a:hover { text-decoration: none; color: #000; border-bottom-color: #000; }
.login-wrapper .box .social { margin: 0 auto; width: 90%; }
.login-wrapper .box .social a.face_login { background: #6887c4; background: -moz-linear-gradient(top, #6887c4 0%, #4566a9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6887c4), color-stop(100%, #4566a9)); background: -webkit-linear-gradient(top, #6887c4 0%, #4566a9 100%); background: -o-linear-gradient(top, #6887c4 0%, #4566a9 100%); background: -ms-linear-gradient(top, #6887c4 0%, #4566a9 100%); background: linear-gradient(to bottom, #6887c4 0%, #4566a9 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6887c4', endColorstr='#4566a9', GradientType=0); border: 1px solid #3B4868; border-radius: 3px 3px 3px 3px; display: inline-block; height: 37px; overflow: hidden; width: 99%; text-decoration: none !important; }
.login-wrapper .box .social a.face_login:hover { background: #6887c4; background: -moz-linear-gradient(top, #6887c4 0%, #5773AC 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6887c4), color-stop(100%, #5773AC)); background: -webkit-linear-gradient(top, #6887c4 0%, #5773AC 100%); background: -o-linear-gradient(top, #6887c4 0%, #5773AC 100%); background: -ms-linear-gradient(top, #6887c4 0%, #5773AC 100%); background: linear-gradient(to bottom, #6887c4 0%, #5773AC 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6887c4', endColorstr='#5773AC', GradientType=0); }
.login-wrapper .box .social a.face_login span.face_icon { background-color: #39599F; border-radius: 3px 0 0 3px; float: left; height: 37px; text-align: center; width: 51px; }
.login-wrapper .box .social a.face_login span.face_icon img { margin-top: 5px; }
.login-wrapper .box .social a.face_login span.text { color: #FFFFFF; float: left; font-size: 15px; font-weight: bold; margin: 6px 0 0 25px; text-shadow: 1px 1px 0 #39599F; }
.login-wrapper .box .division { display: inline-block; margin: 17px 0 23px; position: relative; text-align: center; width: 100%; }
.login-wrapper .box .division hr { border-color: #E2E2E4; border-width: 1px; margin: 0; position: absolute; width: 40%; }
.login-wrapper .box .division hr.left { top: 13px; }
.login-wrapper .box .division hr.right { bottom: 6px; right: 0; }
.login-wrapper .box .division span { color: #666666; font-size: 18px; }
.panel-heading>.panel-title, .content-box-header .panel-title { float: left; padding: 10px 15px; padding-top: 0px; }
.panel-heading>.panel-title>*, .content-box-header .panel-title>* { margin: 0; }
.panel-heading>.panel-title>span, .content-box-header .panel-title>span { font-weight: normal; }
.panel-heading>.panel-options, .content-box-header .panel-options { float: right; padding-right: 15px; }
.panel-heading>.panel-options>a, .content-box-header .panel-options>a { margin-top: 10px; }
.panel-body { clear: both; }
ul.navbar-nav.justify-content { justify-content: normal; }
.content-wrapper {/* min-height: calc(100vh - 56px); */padding-top: 0; }
.scroll-to-top { position: fixed; right: 15px; bottom: 3px; display: none; width: 50px; height: 50px; text-align: center; color: white; background: rgba(52, 58, 64, 0.5); line-height: 45px; }
.scroll-to-top:focus, .scroll-to-top:hover { color: white; }
.scroll-to-top:hover { background: #343a40; }
.scroll-to-top i { font-weight: 800; }
.smaller { font-size: 0.7rem; }
.o-hidden { overflow: hidden !important; }
.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.navbar.fixed-top { background: #4f5730; }
#mainNav .navbar-collapse { overflow: auto; max-height: 75vh; margin: 27px 0; }
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link { cursor: pointer; }
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after { float: right; content: '\f107'; font-family: 'FontAwesome'; }
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after { content: '\f105'; }
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level { padding-left: 0; }
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a { display: block; padding: 0.5em 0; }
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover { text-decoration: none; }
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a { padding-left: 1em; }
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a { padding-left: 2em; }
#mainNav .navbar-collapse .sidenav-toggler { display: none; }
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link { position: relative; min-width: 45px; }
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { float: right; width: auto; content: '\f105'; border: none; font-family: 'FontAwesome'; }
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator { position: absolute; top: 5px; left: 21px; font-size: 10px; }
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after { content: '\f107'; }
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message { overflow: hidden; max-width: none; text-overflow: ellipsis; }
.card-header { font-size: 18px; }
.itens-avaliacao .card-header { font-size: 18px; background: inherit; padding: 0px; }
.itens-avaliacao .card { border: 0; }
div.starrr { font-size: 18px; }
div.starrr i { margin: 0 3px; color: #ffb708; cursor: pointer; }
.card-header h5 { font-size: 16px; color: #000; }
.hide { display: none; }
.card-header h5 a { color: #000; display: block; padding: 10px 10px; }
.table td a, .table th a {/* display: block; */color: inherit; }
.table thead th { font-size: 16px; }
.foot { padding: 25px 0 15px; background: #222222; color: #6deaab; margin: 80px 0 0 0; }
.foot p { margin: 0; font-size: 12px; }
.hero { background: linear-gradient(rgba(35, 31, 41, 0.8), rgba(35, 31, 41, 0.7)), url('../images/Aldeia-Coworking-3.jpg') center bottom; background-size: cover }
.hero-title { font-size: 60px; font-weight: 700; line-height: 1em; color: #FFF; font-family: 'museo_sans500'; margin-bottom: 20px; text-shadow: 0px 2px black; }
.hero-sub { font-size: 28px; font-weight: 700; line-height: 1em; color: #dcc341; font-family: 'museo_sans100'; text-shadow: 0px 2px black; }
.position-relative { z-index: 5; position: relative; }
.one-sixth-screen { height: 530px; }
.one-three-screen { height: 230px; }
.slider-typography { height: 100%; position: absolute; z-index: 1; right: 0px; left: 0px; }
.slider-text-middle-main { display: table; height: 100%; width: 100%; }
.slider-text-middle { display: table-cell; vertical-align: middle; }
.slider-text-middle form.form-busca .btn, .slider-text-middle form.form-busca select.form-control:not([size]):not([multiple]) { padding: 18px 10px; height: 60px; }
.icon-wrap { text-align: center; }
.icon-text-wrap { margin-top: 20px; text-align: center; }
.icon-text-wrap p { font-size: 18px; line-height: 100%; color: #999; }
.card-block { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 1.25rem; }
.title-large { font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517; }
.title-small { color: #141517; font-size: 22px; font-weight: 400; margin: 30px 0 10px; }
.title-x-small { font-size: 18px; margin: 0px; }
.title-large a, .title-small a, .title-x-small a { color: inherit }
.banner-sec { float: left; width: 100%; background: #EBEBEB }
.card-text { margin: 0 }
.text-time { color: #ff0000; font-weight: 600; }
.profile { padding-top: 20px }
@media (max-width:767px) {
  .profile { padding-top: 0 }
}
.profile .rating { margin-bottom: 15px; display: inline-block }
.profile small { color: #999; font-weight: 600 }
.profile h1 { font-size: 24px; font-size: 1.5rem }
.profile p { color: #999; font-size: 15px; }
.titled-list { list-style: none; padding: 0; }
.titled-list.offset > li:not(:last-child) { margin-bottom: 12px; }
.titled-list .title { float: left; width: 140px; padding-right: 20px; font-size: 15px; }
.titled-list .value { overflow: hidden; }
.titled-list .rating { vertical-align: top; position: relative; top: -1px; }
.rating { position: relative; height: 16px; line-height: 16px; font-size: 16px; display: inline-block; vertical-align: middle; min-height: 16px; margin-top: 3px; }
.rating [class*="-state"] { color: #ffe400; overflow: hidden; position: relative; z-index: 1; white-space: nowrap; }
.rating .icon-star-empty:before { content: '\f006'; }
.rating .icon-star:before { content: '\f005'; }
.rating [class*="kw-icon-sta"]:before { font-family: FontAwesome; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.rating i { font-size: 20px; margin: 0 3px; }

/* firefox only*/
@-moz-document url-prefix() {
  .rating [class*="kw-icon-sta"]:before { filter: blur(0.1px); }
}
.rating .fill-state { top: 0; left: 0; position: absolute; z-index: 2; width: 0; }
.blue-theme .rating [class*="-state"], .dark-blue-theme .rating [class*="-state"], .red-theme .rating [class*="-state"] { color: #ffc200; }
@media (min-width:768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] { margin-left: 25%; }
}
.omb_login .omb_authTitle { text-align: center; line-height: 300%; }
.omb_login .omb_socialButtons a { color: white; opacity: 0.9; }
.omb_login .omb_socialButtons a:hover { color: white; opacity: 1; }
.omb_login .omb_socialButtons .omb_btn-facebook { background: #3b5998; }
.omb_login .omb_socialButtons .omb_btn-twitter { background: #00aced; }
.omb_login .omb_socialButtons .omb_btn-google { background: #c32f10; }
.omb_login .omb_loginOr { position: relative; font-size: 1.5em; color: #aaa; margin-top: 1em; margin-bottom: 1em; padding-top: 0.5em; padding-bottom: 0.5em; }
.omb_login .omb_loginOr .omb_hrOr { background-color: #cdcdcd; height: 1px; margin-top: 0px !important; margin-bottom: 0px !important; }
.omb_login .omb_loginOr .omb_spanOr { display: block; position: absolute; left: 50%; top: -0.6em; margin-left: -1.5em; background-color: white; width: 3em; text-align: center; }
.omb_login .omb_loginForm .input-group.i { width: 2em; }
.omb_login .omb_loginForm  .help-block { color: red; }
@media (min-width:768px) {
  .omb_login .omb_forgotPwd { text-align: right; margin-top: 10px; }
}
@media (min-width:992px) {
  #mainNav .navbar-brand { margin: 10px 0; }
  #mainNav .navbar-collapse { overflow: visible; max-height: none; }
  #mainNav .navbar-collapse .navbar-sidenav { position: absolute; top: 0; left: 0; overflow-x: hidden; overflow-y: auto; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-top: 56px; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item { width: 250px; padding: 0; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link { padding: 1em; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level { padding-left: 0; list-style: none; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li { width: 250px; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { padding: 1em; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a { padding-left: 2.75em; }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a { padding-left: 3.75em; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link { min-width: 0; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after { width: 24px; text-align: center; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message { max-width: 300px; }
}
@media (max-width:767px) {
  .container { width: 100%; }
  .header { height: auto; padding: 15px 0px; }
  .header .logo { text-align: center; padding-bottom: 10px; }
  .header .navbar .nav > li > a:hover { background: #0fa6bc; border-radius: 5px; }
  .navbar-toggle { margin-right: 0px !important; }
  .navbar-nav { flex-direction: column; margin: 30px 0; }
  .navbar-nav li { margin: 10px 0; }
}
@media (min-width:768px) and (max-width:991px) {
  header a:hover {/* color: #d8c55e; */ }
  .login-wrapper .box input[type="text"], input[type="tel"], .login-wrapper .box input[type="password"], .login-wrapper .box input[type="email"] {/* font-size: 15px; *//* height: 40px; */margin-bottom: 10px;/* border-color: #b2bfc7; *//* padding-left: 12px; */ }
  .content-wrapper {/* min-height: calc(100vh - 56px); */padding-top: 0; }
  .table td a, .table th a {/* display: block; */color: inherit; }
}
@media (min-width:481px) and (max-width:767px) {
  .log-menu { padding: 22px 0; }
  .log-menu a:first-child { display: block; }
  .navbar-nav li { display: inline-block; float: left; margin: 0 15px; }
  .navbar-nav { flex-direction: row; justify-content: start; }
  .login-wrapper .box input[type="text"], input[type="tel"], .login-wrapper .box input[type="password"], .login-wrapper .box input[type="email"] {/* font-size: 15px; *//* height: 40px; */margin-bottom: 10px;/* border-color: #b2bfc7; *//* padding-left: 12px; */ }
  ul.navbar-nav.justify-content { margin: 20px 0px; display: flex; flex-direction: row; }
  .content-wrapper {/* min-height: calc(100vh - 56px); */padding-top: 0; }
  #mainNav .navbar-collapse { margin: 0; }
  .log-box { position: absolute; width: auto; right: 0; }
  .table td a, .table th a {/* display: block; */color: inherit; }
  .hero-title { font-size: 37px; }
  .hero-sub { font-size: 23px; }
  .slider-text-middle form.form-busca select { margin-bottom: 30px; }
}
@media (max-width:480px) {
  .log-menu { padding: 22px 0; }
  .log-menu a:first-child { display: block; }
  .navbar-nav li { display: inline-block; float: left; margin: 0 15px; }
  .navbar-nav { flex-direction: row; justify-content: start; }
  .login-wrapper .box input[type="text"], input[type="tel"], .login-wrapper .box input[type="password"], .login-wrapper .box input[type="email"] {/* font-size: 15px; *//* height: 40px; */margin-bottom: 10px;/* border-color: #b2bfc7; *//* padding-left: 12px; */ }
  ul.navbar-nav.justify-content { margin: 20px 0; display: flex; flex-direction: row; }
  .content-wrapper {/* min-height: calc(100vh - 56px); */padding-top: 0; }
  #mainNav .navbar-collapse { margin: 0; }
  .log-box { position: absolute; width: auto; right: 0; }
  .table td a, .table th a {/* display: block; */color: inherit; }
  .hero-title { font-size: 22px; }
  .hero-sub { font-size: 13px; }
  .slider-text-middle form.form-busca select { margin-bottom: 30px; }
}
